@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to left, #2b2b28, #4a463f);
}

/*上方橫條*/
header {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #29241b;
  height: 8vh;
  padding: 0 8%;
}

.logo-container {
  height: 100%;
  position: relative;
}

#logo {
  cursor: pointer;
  height: 85%;
  width: auto;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-links a{
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 0.8rem 2rem;
  display: inline-block;
}

.nav-links a:hover{
  border: 1px solid #d0d0d0;
}



/*封面頁*/
.hero-backgroud, .page2-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #2b2b28, #4a463f);
  z-index: -1;
}

#section-p1 {
  display: flex;
  height: 92vh;
  justify-content: center;
  align-items: center;
  font-family: 'Permanent Marker', sans-serif;
}

.hero {
  height: 80%;
  width: 100%;
}

.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.85;
}

.hero #jackThumbnail {
  transform: scaleX(-1);
  opacity: 1;
  position: absolute;
  display: inline-block;
  top: 27%;
  left: calc(8% - 12rem);
  height: 66%;
  width: auto;
  border-bottom: 0.4rem solid #f5f4f0;
  transition: left 0.8s ease;
}

.hero #jackThumbnail:hover {
  transition: 0.7s;
  left: calc(7% - 12rem);
}

.headline {
  position: absolute;
  top: 35%;
  left: 38%;
  font-size: 4.4rem;
  color: white;
  cursor: default;
}

.headline h2 {
  font-size: 2.9rem;
  color: #f5f4f0;
}


/*側邊浮空連結*/
.icons {
  position: fixed;
  right: 0;
  top: 30%;
  display: flex;
  flex-direction: column;
  transform: scale(0.8);
  z-index: 100;
}

.icons img{
  background-color: #21241b;
  cursor: pointer;
}


/*第二頁*/
#section-p2 {
  font-family: 'Baloo Tamma 2', cursive;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page2-background {
  top: 120vh;
  height: 55vh;
  background: #ede3dd;
  display: flex;
  align-items: center;
}

.draw-line {
  border-left: 7px solid #395c0f;
  height: 50vh;
  width: 0;
  position: relative;
  left: 8vw;
}

.page2-grid {
  display: grid;
  position: relative;
  height: 80%;
  width: 85%;
  align-items: center;
  grid-template-columns: 3% 1fr 1.3fr 3%;
}

.pageImage{
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
}

.page2-grid img {
  height: 80%;
  width: auto;
  z-index: 1;
  border: thick double #dbd467;
  transition: transform 0.5s ease-out;
}

.page2-grid img:hover {
  transform: rotate(-8deg);
}

.coffee-article {
  text-align: center;
  grid-column: 3/4;
  font-size: 2rem;
  color: #29241b;
  margin-top: -10%;
  z-index: 3;

  transform: translateY(50px);
  transition: transform 1.2s ease-in-out;
  opacity: 0;
}

.coffee-article-appear {
  opacity: 1;
  transform: translateY(0px);
}

.coffee-article h2{
  font-family: 'Permanent Marker', sans-serif;
  font-size: 6.2vh;
  color: #bf3600;
  margin-bottom: 10px;
}

.coffee-btn {
  font-family: "Black Ops One", sans-serif;
  font-size: 3.5vh;
  text-decoration: none;
  color: #29241b;
  padding: 6px;
  border: 3px solid #29241b;
}

.coffee-btn:hover {
  color: #395c0f;
  border: 3px solid #90ad00;
}


/*中間插頁*/
.middle-image {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  margin: 0 0 5% 0;
  position: relative;

  background-image: url('./images/coffeeShop2_1.jpg');
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

/*
.middle-image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
}
*/

.type-word {
  font-family: 'Special Elite', cursive;
  text-shadow: 3px 3px #457bad;
  display: flex;
  color: white;
  font-size: 2.7rem;
  position: absolute;
  top: 30%;
  left: 15%;
}

.typing {
  position: relative;
  margin-left: 15px;
}

.typing-line {
  border-right: 2px solid white;
  width: 1px;
  margin-left: 5px;
}


/*第三頁*/
.page3 {
  display: flex;
  flex-direction: column;
  justify-content:center;
  font-family: 'Baloo Tamma 2', sans-serif;
  color: white;
  margin-top: 13vh;
}

.page3 h1 {
  text-align: center;
  font-size: 6rem;
  font-family: 'Permanent Marker', sans-serif;
}

.page3 p {
  text-align: center;
  font-size: 2rem;
  padding: 0 10%;
  margin-bottom: 6vh;
  color: #e0d1c8;
}

#page3-context {
  color: white;
  margin-bottom: 8vh;
  padding: 0 8%;
}

.carousel-container {
  position: relative;
  width: 60%;
  margin: auto;
  overflow: hidden;
}

#prevBtn, #nextBtn {
  position: absolute;
  z-index: 10;
  font-size: 30px;
  cursor: pointer;
  top: 50%;
  left: 5%;
  text-shadow: 0 0 5px white;
}

#nextBtn {
  right: 5%;
  left: auto;
}

#prevBtn:hover, #nextBtn:hover {
  transform: scale(1.4);
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 45rem;
  margin-bottom: 5rem;
}

.carousel-slide img{
  max-width: 100%;
  display: block;
  width: auto;
  object-fit: cover;
}

.view-products-btn {
  width: 100%;
  height: 8vh;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coffee-btn2 {
  padding: 8px;
  color: white;
  font-family: "Black Ops One", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  border: 3px solid white;
}

.coffee-btn2:hover {
  color: #f6ff75;
  border: 3px solid #caff85;
}



/*第四頁*/
.page4 {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: 100vw 100vh;
  background-image: url('./images/wood.jpg');
  margin-top: 20vh;
}

.page4-text{
  position: absolute;
  top: 4%;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-family: 'Permanent Marker', sans-serif;
  text-shadow: 3px 3px #786347;
}

.page4-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  align-items: center;
  height: 70%;
  width: 75%;
  margin-top: 17vh;
}

.flag-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.flag-image img{
   object-fit: cover;
   position: relative;
   height: 100%;
   width: 100%;
   border-left: 6px solid #70f75c;
 }

 #jack02 {
   border-left: 6px solid #e8e8e8;
 }

 #jack03 {
   border-left: 6px solid #ffb12b;
 }

.flag-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(73, 191, 23, 0.5);
  opacity: 0;
}

.flag-green h2, .flag-green p, .flag-orange h2, .flag-orange p{
  position: absolute;
  right: 5%;
  top: 10%;
  font-family: 'Special Elite', cursive;
  font-size: 2.4rem;
  color: white;
}

.flag-green p, .flag-orange p{
  top: 15%;
  font-family: 'Baloo Tamma 2', sans-serif;
  font-size: 2.1rem;
}

.flag-white {
  background-color: rgba(255, 255, 255, 0.5);
}

.flag-white h2, .flag-white p{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 20%;
  font-family: 'Special Elite', cursive;
  font-size: 2.4rem;
  color: Black;
}

.flag-white p {
  font-family: 'Baloo Tamma 2', sans-serif;
  font-size: 2.1rem;
  bottom: 12%;
}

.flag-orange {
  background-color: rgba(209, 121, 6, 0.5);
}

 .flag-image:hover .flag-overlay {
   opacity: 1;
   cursor: pointer;
 }


 /*頁面底端*/
 footer{
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    background-color: #18181a;
    position: relative;
    margin-top: 15vh;
}

.inner-footer {
  display: block;
  margin: 0 auto;
  width: 80vw;
  height: 100%;
}

.inner-footer .logo_container {
  float: left;
  display: block;
  width: 30%;
  height: 100%;
}

.inner-footer .logo_container img{
  height: auto;
  width: 150px;
}

.inner-footer .footer_third {
  width: 20%;
  margin-right: 10px;
  float: left;
  height: 100%;
}

.footer_third h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  color: white;
  display: block;
  width:100%;
  margin-bottom: 20px;
}

.footer_third p{
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: white;
  display: block;
  width:100%;
  margin-bottom: 5px;
  cursor: pointer;
}
