@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;700&display=swap');
/*
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to left, #2b2b28, #4a463f);
}

/*上方橫條*/
header {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #29241b;
  height: 8vh;
  padding: 0 8%;
}

.logo-container {
  height: 100%;
  position: relative;
}

#logo {
  cursor: pointer;
  height: 85%;
  width: auto;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-links a{
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 0.8rem 2rem;
  display: inline-block;
}

.nav-links a:hover{
  border: 1px solid #d0d0d0;
}



/*封面頁*/
.hero-backgroud, .page2-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #2b2b28, #4a463f);
  z-index: -1;
}

#section-p1 {
  display: flex;
  height: 92vh;
  justify-content: center;
  align-items: center;
  font-family: 'Permanent Marker', sans-serif;
}

.hero {
  height: 80%;
  width: 100%;
}

.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.85;
}

.hero #jackThumbnail {
  transform: scaleX(-1);
  opacity: 1;
  position: absolute;
  display: inline-block;
  top: 27%;
  left: calc(8% - 12rem);
  height: 66%;
  width: auto;
  border-bottom: 0.4rem solid #f5f4f0;
  transition: left 0.8s ease;
}

.hero #jackThumbnail:hover {
  transition: 0.7s;
  left: calc(7% - 12rem);
}

.headline {
  position: absolute;
  top: 35%;
  left: 38%;
  font-size: 3.8vw;
  color: white;
  cursor: default;
}

.headline h2 {
  font-size: 2.5vw;
  color: #f5f4f0;
}


/*側邊浮空連結*/
.icons {
  position: fixed;
  right: 0;
  top: 30%;
  display: flex;
  flex-direction: column;
  transform: scale(0.8);
}

.icons img{
  background-color: #21241b;
  cursor: pointer;
}


/*第二頁*/
#section-p2 {
  font-family: 'Baloo Tamma 2', cursive;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page2-background {
  top: 120vh;
  height: 55vh;
  background: #ede3dd;
  display: flex;
  align-items: center;
}

.draw-line {
  border-left: 7px solid #395c0f;
  height: 50vh;
  width: 0;
  position: relative;
  left: 10vw;
}

.page2-grid {
  display: grid;
  position: relative;
  height: 80%;
  width: 85%;
  align-items: center;
  grid-template-columns: 4% 1fr 2% 1.2fr 4%;
}

.pageImage{
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
}

.page2-grid img {
  height: 80%;
  width: auto;
  z-index: 1;
  border: thick double #dbd467;
  transition: transform 0.5s ease-out;
}

.page2-grid img:hover {
  transform: rotate(-8deg);
}

.coffee-article {
  text-align: center;
  grid-column: 4/5;
  font-size: 2rem;
  color: #29241b;
  margin-top: -10%;
  z-index: 3;

  transform: translateY(40px);
  transition: transform 0.8s ease-in-out;
  opacity: 0;
}

.coffee-article-appear {
  opacity: 1;
  transform: translateY(0px);
}

.coffee-article h2{
  font-size: 6.2vh;
  color: #395c0f;
}

.coffee-btn {
  font-family: "Black Ops One", sans-serif;
  font-size: 3.5vh;
  text-decoration: none;
  color: #29241b;
  padding: 6px;
  border: 3px solid #29241b;
}

.coffee-btn:hover {
  color: #395c0f;
  border: 3px solid #90ad00;
}
